.button {
    padding: 8px 16px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-black);
}
.white {
    background-color: var(--color-white);
}
