.cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
    }
    @media (width <= $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr;
    }
    .card__media {
        border-radius: 16px;
        overflow: hidden;
        img {
            aspect-ratio: 594/490;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    .card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p {
            margin: 16px 0 24px;
        }
        .mini {
            margin: 0 0 30px;
        }
    }
    &:nth-child(even) {
        .card__content {
            order: -1;
            @media (width <= $breakpoint-md) {
                order: unset;
            }
        }
    }
}
