.footer {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    span {
        color: var(--color-white);
    }
    .medias {
        margin-top: 30px;
        display: flex;
        gap: 56px;
    }
}
