.laboratoire_reactif {
    background-color: var(--color-primary);
    color: var(--color-black);
    .swiper {
        margin-top: 100px;
    }
}

.swiper-pagination {
    margin-top: 50px;
    position: static;
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-size: 20px;
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 20px;
}
.swiper-pagination-bullet {
    transform: rotate(45deg);
}
